SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/kirodb
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWORD=admin
SPRING_FLYWAY_URL=jdbc:postgresql://localhost:5432/kirodb
SPRING_FLYWAY_USER=admin
SPRING_FLYWAY_PASSWORD=admin

KEYCLOAK_ISSUER_URI_HOST=http://localhost:9093
KEYCLOAK_JWK_SET_URI_HOST=http://localhost:9093
KEYCLOAK_REALM=kiro-realm
KEYCLOAK_CREDENTIALS_USERNAME=admin
KEYCLOAK_CREDENTIALS_PASSWORD=admin
KEYCLOAK_MIGRATION_PASSWORD=examplekiro123

SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=admin
SPRING_RABBITMQ_PASSWORD=admin
STOMP_RELAY_HOST=localhost
STOMP_RELAY_PORT=61613
STOMP_RELAY_CLIENT_LOGIN=admin
STOMP_RELAY_CLIENT_PASSCODE=admin
STOMP_RELAY_SYSTEM_LOGIN=admin
STOMP_RELAY_SYSTEM_PASSCODE=admin

UPLOAD_MINIO_URL=http://localhost:9000
UPLOAD_MINIO_URL_PREFIX=http://localhost:9000
UPLOAD_MINIO_ACCESS_KEY=admin
UPLOAD_MINIO_SECRET_KEY=password
UPLOAD_MINIO_BUCKET=kiro-bucket-01

LIVEKIT_URL=ws://localhost:7880
LIVEKIT_API_KEY=devkey
LIVEKIT_API_SECRET=secret
